<!DOCTYPE html>
<html lang="de">
<head>
    <title>Kassenanweisung</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/multi-select.css" type="text/css" />
    <link rel="stylesheet" href="/public/autocomplete/css/autoComplete.css" />
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>

    <!-- Header -->
    {{> header}}
    <script src="/public/js/multi-select.js"></script>
    <!-- autocomplete.js scripts -->
    <script src="/public/autocomplete/autoComplete.js"></script>

    <!-- Body Content will render here -->
    {{{body}}}

    <!-- Footer -->
    {{> footer}}

    <!-- Bootstrap -->
    <script src="/public/jquery/dist/jquery.min.js"></script>
    <script src="/public/popperjs/popper.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>